#contact{
    display: flex;
    font-family: 'Montserrat';
 margin-top:5vw;
    padding-left: 4vw;
    flex-direction: column;

}
.contactheadings{
        display: flex;
        width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 5px;
    }
.contacttitle{
    color:#ED3038;
    font-family: 'Montserrat';
   font-size: 1vw;
}
.contactSubtitle{
    font-family: 'Montserrat';
    font-size: 2vw;
    font-weight: 600;
}
.letstalkimage{
    width: 25vw;
    height: 14vw;
    border-radius: 10px;
}

.contactContainer{
margin-top: 3vw;
display: flex;
flex-direction: row;
}
.letstalkContanier{
    display: flex;
    flex-direction: column;
    flex: 0.74;
    padding-left: 10vw;
    
   
}
.contactform{
    flex: 2;
    display:flex;
    flex-direction: column;
    gap: 2vw;
    padding-right: 3vw;
    justify-content: center;
    align-items: center;

}

.contactform input{
    width: 30vw;
    height: 1.7vw;
    box-shadow: 3px 3px 2px rgb(190, 185, 185);
    border-radius: 0.2vw;
    border: 0.1vw solid rgb(201, 198, 198);
font-family: 'Montserrat';
padding-left: 1vw;
font-size: 1vw;
outline: none;
}
.contactform textarea{
    font-family: 'Montserrat';
    font-size: 1vw;
   width: 30vw;
    height: 5vw;
    max-width: 30vw;
    max-height: 20vw;
    min-width: 15vw;
    min-height: 3vw;
    box-shadow: 3px 3px 2px rgb(190, 185, 185);
    border-radius: 0.2vw;
    border: 0.1vw solid rgb(201, 198, 198);
    padding-left: 1vw;
    padding-top: 0.5vw;
    outline: none;
    /* outline: 1px solid #ED3038; */
}
.contactform textarea:focus,.contactform input:focus{
    
    border: 1px solid #ED3038;
}
.letstalk{
    font-size: 1.2vw;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 1vw;
}

.contactdetails{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    padding-left:0 ;
}
.contactdetails img{
width: 1.8vw;
height: 1.8vw;
}
.contactdetails li{
list-style: none;
font-size: 1vw;
display: flex;
flex-direction: row;
gap: 2vw;

}
.sendmessagebtn{
    background-color:#ED3038;
    color: white;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    width: 30vw;
    height: 2vw;
  border-radius: 0.2vw;
  font-family: 'Montserrat';
}

@media(max-width:480px){
    .contacttitle, .letstalk{
        font-size: 2vw;
    }
    .contactSubtitle{
        font-size: 4vw;
    }
    .contactdetails li{
        font-size: 2vw;
    }
    .contactdetails img{
        width: 4vw;
        height: 4vw;
    }
  .letstalkimage{
    width: 100%;
    height: 50%;
  }
  .contactform input{
    width: 30vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    font-size: 2vw;
    padding: 0.5vw;
}
.contactform textarea{
    font-size: 1.5vw;
    padding: 0.5vw;
}
.sendmessagebtn{
    font-size: 2vw;
    padding: 1vw;
    height: 4vw;
   border-radius: 1vw;
}
}