#portfolio{
    font-family: 'Montserrat';
 padding-top:5vw;
 width: 100vw;
}
.portfolioheadings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 5px;

}

.Myprojects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 4vw;
    place-items: center;
    width: 90%;
    justify-self: center;
    align-self: center;
}
.visitmyportfolio{
    font-size: 2vw;
   font-weight: 600;
       font-family: 'Montserrat';

}

.portfolioTitle{
     color:#ED3038;
   font-size: 1vw;

}

.Project{
    width: 23vw;
    height:16vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px gray;
    background: linear-gradient(to bottom,rgb(245, 111, 111),rgb(209, 136, 136),rgb(235, 178, 178),rgb(255, 255, 255),rgb(255, 255, 255));
   
    /* background: linear-gradient(to bottom,rgb(255, 186, 186),rgb(253, 227, 227),white,rgb(255, 253, 253),white); */
}

.projectname{
    font-weight: 600;
    font-size:1vw;
       font-family: 'Montserrat';

    padding: 2vw;
     padding-bottom: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.projectimage{

    width:90%;
    height:60%;
    border-radius: 0.3vw;

}

@media(max-width:480px){
    .portfolioTitle{
     font-size: 2vw;
    }
    .visitmyportfolio{
        font-size: 4vw;
    }
    .Myprojects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10vw;
    margin-top: 4vw;
    width: 90%;
    
}
.Project{
    width: 40vw;
    height:30vw;
    border-radius: 1vw;
     
}
.projectname{
    font-weight: 600;
    font-size:2vw;
    padding: 2vw;
     padding-bottom: 0.5vw;
   
}
.projectimage{

    width:90%;
    height:70%;
    border-radius: 0.3vw;

}
}