.portfolio{
    font-family: 'Montserrat';
 padding-top:5vw;
    padding-left: 4vw;
}
.portfolioheadings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 5px;

}

.Myprojects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 2vw;
}
.visitmyportfolio{
    font-size: 2vw;
   font-weight: 600;
}

.portfolioTitle{
     color:#ED3038;
   font-size: 1vw;

}

.Project{
    width: 23vw;
    height:16vw;
    border-radius: 3vw;
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: 5px 5px 15px gray;
    background: linear-gradient(to bottom,rgb(255, 186, 186),rgb(253, 227, 227),white,rgb(255, 253, 253),white);
}

.projectname{
    font-weight: 600;
    font-size:1vw;
    padding-bottom: 1vw;
    padding: 2vw;
    display: flex;
    align-items: center;
    
    
}

