hr{
  border: none;          
  height: 1px;           
  background-color:rgb(197, 191, 191) ; 
  width: 90%;            
  margin-top: 3vw;      
  border-radius: 5px;    
}
   
div{
  scroll-margin-top: 1.4vw;
}
#AboutMe{
  scroll-margin-top: 5vw;
}
#contact{
  scroll-margin-top: 6vw;
}
* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
}

@media(max-width:480px){
  hr {
         
  height: 0.1px;           
  width: 90%;            
  margin-top: 6vw;     
  border-radius: 5px;     
}
}